<!--
<mat-card style="margin:2em;" matRipple>
    <mat-card-header>
        <div mat-card-avatar class="userCard">
            <fa-icon [icon]="faUser" size="2x"></fa-icon>
            <p>{{listing.userUsername}}</p>
        </div>
        <mat-card-title>{{listing.title}}</mat-card-title>
        <mat-card-subtitle><fa-icon [icon]="faMapMarkerAlt"></fa-icon> {{listing.placeName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{listing.description}}
            {{listing.condition}}
            {{listing.price}}
            {{listing.timestampCreated | date:'dd/MM/yy'}} 
            {{listing.category}}
        </p>
    </mat-card-content>
    <img mat-card-image src="assets/nevera.jpg">
    <mat-card-footer style="text-align: right;">Date published: {{listing.timestampCreated | date:'dd/MM/yy'}}</mat-card-footer>
</mat-card>
-->
<div class="listingCard container-xxl" matRipple (click)="onListingClick(listing.id)">
    <div class="listingHeader row ">
        <div class="userInfo col-auto col-md-auto">
            <img src="assets/user-small.png">
            <br>
            <span>{{listing.userUsername}}</span>
        </div>
        <div class="title col">
            <span>{{listing.title}}</span>
        </div>
        <div class="location col-md-auto col-12">
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> {{listing.placeName}}, {{listing.countyName}}
        </div>
        
    </div>
    <div class="listingContent row">
        <div class="col-12 col-md-4">
            <ul>
                <li>Category: <b>{{listing.category}}</b></li>
                <li>Condition: <b>{{listing.condition}}</b></li>
                <li>Published: <b>{{listing.timestampCreated | date:'dd/MM/yy'}}</b></li>
            </ul>
        </div>
        <div *ngIf="hasImage" class="col-12 col-md-8">
            <img [src]="imgSrc" class="image">
        </div>
    </div>
    <div class="listingFooter">
        {{(listing.price/100)| number: '1.2-2'}}kn
    </div>
</div>