<form [formGroup]="addListingForm" (ngSubmit)="submitForm()" style="width:800px" class="container">

    <p class="h4 m-4 text-center">Add new listing</p>

    <div class="row">
        <mat-form-field class="col-9">
            <mat-label>Title</mat-label>
            <input matInput type="text" id="title" formControlName="title">
        </mat-form-field>
        <mat-form-field class="col-3">
            <mat-label>Price</mat-label>
            <input matInput type="number" id="price" formControlName="price" placeholder="0">
            <span matSuffix>kn</span>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-12">
            <mat-label>Description</mat-label>
            <textarea matInput id="description" formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="6" placeholder="Write a short description"></textarea>
        </mat-form-field>
    </div>
    

    <div class="row mt-4" class="border">
        <p class="m-2">Listing location:</p>
        <mat-form-field class="col-6">
            <mat-label>County</mat-label>
            <mat-select formControlName="countySelect" (selectionChange)="onCountyChange($event.value)">
                <mat-option *ngFor="let county of counties" [value]="county.id">{{county.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-6">
            <mat-label>Place</mat-label>
            <mat-select formControlName="placeSelect">
                <mat-option *ngFor="let place of places" [value]="place.id">{{place.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div class="row mt-4">
        <mat-form-field class="col-6">
            <mat-label>Condition</mat-label>
            <mat-select formControlName="conditionSelect">
                <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-6">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categorySelect">
                <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    

    <div *ngIf="categorySelect.value=='Vehicle'" class="my-4 border p-3">
        <p>Vehicle information</p>
        <div class="row">
            <mat-form-field class="col-6">
                <mat-label>Vehicle Make</mat-label>
                <input matInput type="text" id="vehicleMake" formControlName="vehicleMake">
            </mat-form-field>

            <mat-form-field class="col-6">
                <mat-label>Vehicle Model</mat-label>
                <input matInput type="text" id="vehicleModel" formControlName="vehicleModel">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-4">
                <mat-label>Vehicle Year</mat-label>
                <input matInput type="number" id="vehicleYear" formControlName="vehicleYear">
            </mat-form-field>
    
            <mat-form-field class="col-4">
                <mat-label>Vehicle Mileage</mat-label>
                <input matInput type="number" id="vehicleMileage" formControlName="vehicleMileage">
                <span matSuffix>mi</span>
            </mat-form-field>
    
            <mat-form-field class="col-4">
                <mat-label>Vehicle Horsepower</mat-label>
                <input matInput type="number" id="vehicleHorsepower" formControlName="vehicleHorsepower">
                <span matSuffix>hp</span>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="categorySelect.value=='Property'" class="my-4 border p-3">
        <p>Property information</p>
        <div class="row">
            <mat-form-field  class="col-6">
                <mat-label>Outside area</mat-label>
                <input matInput type="number" id="propertyOutsideArea" formControlName="propertyOutsideArea">
                <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>

            <mat-form-field class="col-6">
                <mat-label>Inside area</mat-label>
                <input matInput type="number" id="propertyInsideArea" formControlName="propertyInsideArea">
                <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-4">
                <mat-label>Number of floors</mat-label>
                <input matInput type="number" id="propertyFloors" formControlName="propertyFloors">
            </mat-form-field>
    
            <mat-form-field class="col-4">
                <mat-label>Number of rooms</mat-label>
                <input matInput type="number" id="propertyRooms" formControlName="propertyRooms">
            </mat-form-field>
    
            <mat-form-field class="col-4">
                <mat-label>Year built</mat-label>
                <input matInput type="number" id="propertyYear" formControlName="propertyYear">
            </mat-form-field>
        </div>
    </div>

    <input
        style="display: none"
        type="file" 
        accept=".jpg,.png"
        multiple="true"
        #fileInput
        formControlName="images"
        (change)="onFileSelect($event)">
    <button (click)="fileInput.click()" type='button' mat-stroked-button >Select Files</button>
    <div *ngIf="areImagesSelected"><p *ngFor="let name of imageNames">{{name}}</p></div>

    <div class="row justify-content-end">
        <button mat-raised-button color="primary" [disabled]="addListingForm.invalid" class="col-3">Publish!</button>
    </div>
    
</form>