<br><br><br><br>
<button (click)="loginModal.show()">login</button>

<div mdbModal #loginModal="mdbModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="loginModal.hide()">
          <span>×</span>
        </button>
        <h4 class="modal-title w-100" id="loginModalLabel">Sign in</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" class="md-form" (ngSubmit)="login()">

          <p class="h4 mb-4 text-center">Sign in</p>
        
          <div class="md-form form-group">
            <mdb-icon fas icon="user" class="prefix"></mdb-icon>
            <input type="text" id="username" formControlName="username" class="form-control mb-4" placeholder="Username">
            <mdb-error *ngIf="username.invalid && username.touched">Username must be between 3 and 20 characters!</mdb-error>
          </div>

          <div class="md-form form-group">
            <mdb-icon fas icon="unlock-alt" class="prefix"></mdb-icon>
            <input type="password" id="password" formControlName="password" class="form-control mb-4" placeholder="Password">
            <mdb-error *ngIf="password.invalid && password.touched">Password must must be between 8 and 128 characters!</mdb-error>
          </div>
          
          <button mdbBtn color="primary" block="true" class="my-4" type="submit" [disabled]="loginForm.invalid">Sign in</button>
        
          <!-- Register -->
          <p class="text-center">Not a member?
            <a (click)="loginModal.hide()" href>Register</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
