mat-grid-tile {
    background: lightblue;
}

.sidenav{
  position: fixed;
  top: 54px;
}
.menu{
  display: block;
  position: relative;
  width: max-content;
  z-index: 100;
  padding: 10px;
  transition: all 0.3s linear;
}
.searchButton{
  margin-left: auto;
  display: block;
}